/build_linux/
/build_osx/
/codec2/
/hamlib/
/hamlib-code/
/LPCNet/
/macdylibbundler/

a.out
*.o
*.make
*.log
*.marks
*.AppDir
*.AppImage

# Build directory
/build/

# TCI test files (outside of src/)
test_tci
simple_tci_test
websocket_tci_test
